<h1>Angular Router Demo</h1>
  <nav>
    <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>
    <a routerLink="/heroes/1" routerLinkActive="active">Heroes</a>
     <a routerLink="/AjModules" routerLinkActive="active">Aj Modules 2</a>
    <a routerLink="/sarvan" routerLinkActive="active">sarvan</a>
    <a routerLink="/ananth" routerLinkActive="active">Ananth's List</a>
    <a routerLink="/ajRoute2Module" routerLinkActive="active">ajRoute2Module's List</a>
    <a routerLink="/lazy" routerLinkActive="active">lazy Load</a>
    <a routerLink="/routesRecapModulePath" routerLinkActive="inactive">Recap Routing</a>
    <a routerLink="/lazyRecapPath" routerLinkActive="active">Lazy Recap</a>
    <a routerLink="/compbyananth" routerLinkActive="active">Module by Ananth</a>
    <a routerLink="/ajRoutingDemo" routerLinkActive="active">Aj Route Demo-very Lazy</a>
    <a routerLink="/item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Item List</a>
  </nav>

  <router-outlet></router-outlet>
    <div [hidden]="true">
    Preloaded Modules
    <ul>
      <li *ngFor="let module of modules">{{ module }}</li>
    </ul>
    </div>