nav a.active {
    color: red;
    background: yellow;
}
nav a.inactive{
    color:green;
    background: grey;
}

nav a {
    border: 1px solid black;
    background: darkseagreen;
    padding: 5px;
    text-decoration: none;
    color: black;
}