<h1>Angular Router Demo</h1>
  <nav>
    <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>
    <a routerLink="/heroes/1" routerLinkActive="active">Heroes</a>
     <a routerLink="/AjModules" routerLinkActive="active">Aj Modules 2</a>
    <a routerLink="/sarvan" routerLinkActive="active">sarvan</a>
    <a routerLink="/ananth" routerLinkActive="active">Ananth's List</a>
    <a routerLink="/ajRoute2Module" routerLinkActive="active">ajRoute2Module's List</a>
    <a routerLink="/lazy" routerLinkActive="active">lazy Load</a>
    <a routerLink="/routesRecapModulePath" routerLinkActive="inactive">Recap Routing</a>
    <a routerLink="/lazyRecapPath">Lazy Recap</a>
    <a routerLink="/compbyananth">Module by Ananth</a>

    
    
  </nav>

  <router-outlet></router-outlet>

